*~
*.a
*.auc
*.auf
*.aui
*.dep
*.depend
*.diff
*.dll*
*.dylib
*.exe
*.exp
*.idb
*.ilk
*.lib
*.ncb
*.o
*.obj
*.orig
*.patch
*.pc
*.pdb
*.rej
*.res
*.so*
*.suo
*.swp
*.txt
*.user
.depend
.DS_Store
config.*
BuildLog.htm
*.3gp
*.3g2
*.f4v
*.m4a
*.m4v
*.mov
*.mp4
*.qt
