/*****************************************************************************
 * lsmashinput.rc
 *****************************************************************************
 * Copyright (C) 2012-2013 L-SMASH Works project
 *
 * Authors: Yusuke Nakamura <muken.the.vfrmaniac@gmail.com>
 *
 * Permission to use, copy, modify, and/or distribute this software for any
 * purpose with or without fee is hereby granted, provided that the above
 * copyright notice and this permission notice appear in all copies.
 *
 * THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
 * WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
 * MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
 * ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
 * WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
 * ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
 * OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
 *****************************************************************************/

/* This file is available under an ISC license.
 * However, when distributing its binary file, it will be under LGPL or GPL.
 * Don't distribute it if its license is GPL. */

#include <windows.h>
#include <commctrl.h>
#include "resource.h"

/* Dialog resources */
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
LSMASHINPUT_CONFIG DIALOG 0, 0, 182, 308
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "Libav-SMASH File Reader settings"
FONT 10, "Tahoma"
{
    DEFPUSHBUTTON   "OK", IDOK, 24, 284, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 108, 284, 50, 14
    LTEXT           "threads", IDC_STATIC, 11, 23, 25, 8, SS_LEFT
    CONTROL         "", IDC_SPIN_THREADS, UPDOWN_CLASS, UDS_ARROWKEYS, 58, 21, 10, 12
    EDITTEXT        IDC_EDIT_THREADS, 38, 21, 20, 12, ES_RIGHT | ES_AUTOHSCROLL
    LTEXT           "Forward threshold", IDC_STATIC, 78, 23, 61, 8, SS_LEFT
    EDITTEXT        IDC_EDIT_FORWARD_THRESHOLD, 141, 21, 20, 12, ES_RIGHT | ES_AUTOHSCROLL
    CONTROL         "", IDC_SPIN_FORWARD_THRESHOLD, UPDOWN_CLASS, UDS_ARROWKEYS, 161, 21, 10, 12
    AUTOCHECKBOX    "Libav+L-SMASH", IDC_CHECK_LIBAVSMASH_INPUT, 11, 7, 64, 8
    AUTOCHECKBOX    "Avisynth", IDC_CHECK_AVS_INPUT, 84, 7, 43, 8
    AUTOCHECKBOX    "Libav", IDC_CHECK_LIBAV_INPUT, 136, 7, 30, 8
    COMBOBOX        IDC_COMBOBOX_SEEK_MODE, 56, 38, 54, 42, CBS_DROPDOWN | CBS_HASSTRINGS
    LTEXT           "Seek mode", IDC_STATIC, 11, 40, 38, 8, SS_LEFT
    LTEXT           "Dummy resolution", IDC_STATIC, 12, 236, 60, 8, SS_LEFT
    EDITTEXT        IDC_EDIT_DUMMY_WIDTH, 78, 234, 38, 12, ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_EDIT_DUMMY_HEIGHT, 130, 234, 38, 12, ES_CENTER | ES_AUTOHSCROLL
    LTEXT           "x", IDC_STATIC, 121, 236, 8, 8, SS_LEFT
    LTEXT           "Dummy framerate", IDC_STATIC, 12, 251, 60, 8, SS_LEFT
    EDITTEXT        IDC_EDIT_DUMMY_FRAMERATE_NUM, 78, 249, 38, 12, ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_EDIT_DUMMY_FRAMERATE_DEN, 130, 249, 38, 12, ES_CENTER | ES_AUTOHSCROLL
    LTEXT           "/", IDC_STATIC, 121, 251, 8, 8, SS_LEFT
    EDITTEXT        IDC_EDIT_AUDIO_DELAY, 52, 70, 46, 12, ES_RIGHT | ES_AUTOHSCROLL
    LTEXT           "Audio delay", IDC_STATIC, 11, 72, 39, 8, SS_LEFT
    LTEXT           "samples", IDC_STATIC, 102, 72, 28, 8, SS_LEFT
    COMBOBOX        IDC_COMBOBOX_DUMMY_COLORSPACE, 78, 266, 38, 42, CBS_DROPDOWN | CBS_HASSTRINGS
    LTEXT           "Dummy colorspace", IDC_STATIC, 12, 268, 63, 8, SS_LEFT
    COMBOBOX        IDC_COMBOBOX_SCALER, 56, 54, 80, 108, CBS_DROPDOWN | CBS_HASSTRINGS
    LTEXT           "Video scaler", IDC_STATIC, 11, 56, 41, 8, SS_LEFT
    AUTOCHECKBOX    "Libav video index", IDC_CHECK_FORCE_VIDEO, 11, 204, 71, 8
    EDITTEXT        IDC_EDIT_FORCE_VIDEO_INDEX, 82, 202, 26, 12, ES_RIGHT | ES_AUTOHSCROLL
    AUTOCHECKBOX    "Libav audio index", IDC_CHECK_FORCE_AUDIO, 11, 220, 72, 8
    EDITTEXT        IDC_EDIT_FORCE_AUDIO_INDEX, 82, 218, 26, 12, ES_RIGHT | ES_AUTOHSCROLL
    AUTOCHECKBOX    "Create Index file", IDC_CHECK_CREATE_INDEX_FILE, 11, 190, 70, 8
    AUTOCHECKBOX    "A/V sync correction", IDC_CHECK_AV_SYNC, 11, 176, 79, 8
    EDITTEXT        IDC_EDIT_CHANNEL_LAYOUT, 11, 99, 160, 12, ES_AUTOHSCROLL
    LTEXT           "Channel layout", IDC_STATIC, 11, 87, 49, 8, SS_LEFT
    LTEXT           "Mix level", IDC_STATIC, 11, 116, 29, 8, SS_LEFT
    LTEXT           "Center", IDC_STATIC, 17, 129, 23, 8, SS_LEFT
    LTEXT           "Surround", IDC_STATIC, 17, 144, 31, 8, SS_LEFT
    LTEXT           "LFE", IDC_STATIC, 17, 159, 12, 8, SS_LEFT
    CONTROL         "", IDC_SLIDER_MIX_LEVEL_CENTER, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 52, 127, 100, 15
    CONTROL         "", IDC_SLIDER_MIX_LEVEL_SURROUND, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 52, 142, 100, 15
    CONTROL         "", IDC_SLIDER_MIX_LEVEL_LFE, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 52, 157, 100, 15
    LTEXT           "0.71", IDC_TEXT_MIX_LEVEL_CENTER, 154, 129, 15, 8, SS_LEFT
    LTEXT           "0.71", IDC_TEXT_MIX_LEVEL_SURROUND, 154, 144, 15, 8, SS_LEFT
    LTEXT           "0.00", IDC_TEXT_MIX_LEVEL_LFE, 154, 159, 15, 8, SS_LEFT
}

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
IDD_PROGRESS_ABORTABLE DIALOG DISCARDABLE 0, 0, 186, 84
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP
CAPTION "lsmashinput"
FONT 9, "Tahoma"
{
    PUSHBUTTON      "Cancel", IDCANCEL, 61, 57, 62, 20
    CONTROL         "", IDC_PROGRESS, PROGRESS_CLASS, PBS_SMOOTH, 17, 34, 152, 17
    LTEXT           "progress", IDC_PERCENT_TEXT, 19, 13, 150, 14, SS_LEFT
}
