/*****************************************************************************
 * lsmashinput.rc
 *****************************************************************************
 * Copyright (C) 2012 L-SMASH Works project
 *
 * Authors: Yusuke Nakamura <muken.the.vfrmaniac@gmail.com>
 *
 * Permission to use, copy, modify, and/or distribute this software for any
 * purpose with or without fee is hereby granted, provided that the above
 * copyright notice and this permission notice appear in all copies.
 *
 * THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
 * WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
 * MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
 * ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
 * WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
 * ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
 * OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
 *****************************************************************************/

/* This file is available under an ISC license.
 * However, when distributing its binary file, it will be under LGPL or GPL.
 * Don't distribute it if its license is GPL. */

#include <windows.h>
#include <commctrl.h>
#include "resource.h"

/* Dialog resources */
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
LSMASHINPUT_CONFIG DIALOG 0, 0, 182, 178
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "Libav-SMASH File Reader settings"
FONT 10, "Tahoma"
{
    DEFPUSHBUTTON   "OK", IDOK, 24, 154, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 108, 154, 50, 14
    LTEXT           "threads", IDC_STATIC, 11, 23, 25, 8, SS_LEFT
    CONTROL         "", IDC_SPIN_THREADS, UPDOWN_CLASS, UDS_ARROWKEYS, 58, 21, 10, 12
    EDITTEXT        IDC_EDIT_THREADS, 38, 21, 20, 12, ES_AUTOHSCROLL
    LTEXT           "Forward threshold", IDC_STATIC, 78, 23, 61, 8, SS_LEFT
    EDITTEXT        IDC_EDIT_FORWARD_THRESHOLD, 141, 21, 20, 12, ES_AUTOHSCROLL
    CONTROL         "", IDC_SPIN_FORWARD_THRESHOLD, UPDOWN_CLASS, UDS_ARROWKEYS, 161, 21, 10, 12
    AUTOCHECKBOX    "Libav+L-SMASH", IDC_CHECK_LIBAVSMASH_INPUT, 11, 7, 64, 8
    AUTOCHECKBOX    "Avisynth", IDC_CHECK_AVS_INPUT, 84, 7, 43, 8
    AUTOCHECKBOX    "Libav", IDC_CHECK_LIBAV_INPUT, 136, 7, 30, 8
    COMBOBOX        IDC_COMBOBOX_SEEK_MODE, 56, 38, 54, 42, CBS_DROPDOWN | CBS_HASSTRINGS
    LTEXT           "Seek mode", IDC_STATIC, 11, 40, 38, 8, SS_LEFT
    LTEXT           "Dummy resolution", IDC_STATIC, 12, 106, 60, 8, SS_LEFT
    EDITTEXT        IDC_EDIT_DUMMY_WIDTH, 78, 119, 38, 12, ES_AUTOHSCROLL
    EDITTEXT        IDC_EDIT_DUMMY_HEIGHT, 130, 119, 38, 12, ES_AUTOHSCROLL
    LTEXT           "x", IDC_STATIC, 121, 106, 8, 8, SS_LEFT
    LTEXT           "Dummy framerate", IDC_STATIC, 12, 121, 60, 8, SS_LEFT
    EDITTEXT        IDC_EDIT_DUMMY_FRAMERATE_NUM, 78, 104, 38, 12, ES_AUTOHSCROLL
    EDITTEXT        IDC_EDIT_DUMMY_FRAMERATE_DEN, 130, 104, 38, 12, ES_AUTOHSCROLL
    LTEXT           "/", IDC_STATIC, 121, 121, 8, 8, SS_LEFT
    EDITTEXT        IDC_EDIT_AUDIO_DELAY, 52, 87, 46, 12, ES_AUTOHSCROLL
    LTEXT           "Audio delay", IDC_STATIC, 11, 89, 39, 8, SS_LEFT
    LTEXT           "samples", IDC_STATIC, 102, 89, 28, 8, SS_LEFT
    COMBOBOX        IDC_COMBOBOX_DUMMY_COLORSPACE, 78, 134, 38, 42, CBS_DROPDOWN | CBS_HASSTRINGS
    LTEXT           "Dummy colorspace", IDC_STATIC, 12, 136, 63, 8, SS_LEFT
    COMBOBOX        IDC_COMBOBOX_SCALER, 56, 54, 80, 108, CBS_DROPDOWN | CBS_HASSTRINGS
    LTEXT           "Video scaler", IDC_STATIC, 11, 56, 41, 8, SS_LEFT
    AUTOCHECKBOX    "Force framerate", IDC_CHECK_FORCE_FRAMERATE, 11, 72, 69, 8
    EDITTEXT        IDC_EDIT_FORCE_FRAMERATE_NUM, 78, 70, 38, 12, ES_AUTOHSCROLL
    EDITTEXT        IDC_EDIT_FORCE_FRAMERATE_DEN, 130, 70, 38, 12, ES_AUTOHSCROLL
    LTEXT           "/", IDC_STATIC, 121, 72, 4, 8, SS_LEFT
}
