/*****************************************************************************
 * lsmashinput.rc
 *****************************************************************************
 * Copyright (C) 2012-2013 L-SMASH Works project
 *
 * Authors: Yusuke Nakamura <muken.the.vfrmaniac@gmail.com>
 *
 * Permission to use, copy, modify, and/or distribute this software for any
 * purpose with or without fee is hereby granted, provided that the above
 * copyright notice and this permission notice appear in all copies.
 *
 * THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
 * WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
 * MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
 * ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
 * WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
 * ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
 * OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
 *****************************************************************************/

/* This file is available under an ISC license.
 * However, when distributing its binary file, it will be under LGPL or GPL.
 * Don't distribute it if its license is GPL. */

#include <windows.h>
#include <commctrl.h>
#include "resource.h"

/* Dialog resources */
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
LSMASHINPUT_CONFIG DIALOG 0, 0, 256, 256
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "L-SMASH Works File Reader settings"
FONT 10, "Tahoma"
{
    DEFPUSHBUTTON   "OK", IDOK, 56, 230, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 146, 230, 50, 14
    LTEXT           "threads", IDC_STATIC, 11, 23, 25, 8, SS_LEFT
    CONTROL         "", IDC_SPIN_THREADS, UPDOWN_CLASS, UDS_ARROWKEYS, 58, 21, 10, 12
    EDITTEXT        IDC_EDIT_THREADS, 38, 21, 20, 12, ES_RIGHT | ES_AUTOHSCROLL
    LTEXT           "Forward threshold", IDC_STATIC, 78, 23, 61, 8, SS_LEFT
    EDITTEXT        IDC_EDIT_FORWARD_THRESHOLD, 141, 21, 20, 12, ES_RIGHT | ES_AUTOHSCROLL
    CONTROL         "", IDC_SPIN_FORWARD_THRESHOLD, UPDOWN_CLASS, UDS_ARROWKEYS, 161, 21, 10, 12
    AUTOCHECKBOX    "Libav+L-SMASH", IDC_CHECK_LIBAVSMASH_INPUT, 11, 7, 64, 8
    AUTOCHECKBOX    "AviSynth Script", IDC_CHECK_AVS_INPUT, 90, 7, 65, 8
    AUTOCHECKBOX    "LW-Libav", IDC_CHECK_LIBAV_INPUT, 166, 7, 46, 8
    COMBOBOX        IDC_COMBOBOX_SEEK_MODE, 52, 38, 54, 42, CBS_DROPDOWN | CBS_HASSTRINGS
    LTEXT           "Seek mode", IDC_STATIC, 11, 40, 38, 8, SS_LEFT
    LTEXT           "Dummy resolution", IDC_STATIC, 11, 182, 60, 8, SS_LEFT
    EDITTEXT        IDC_EDIT_DUMMY_WIDTH, 78, 180, 38, 12, ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_EDIT_DUMMY_HEIGHT, 130, 180, 38, 12, ES_CENTER | ES_AUTOHSCROLL
    LTEXT           "x", IDC_STATIC, 121, 182, 8, 8, SS_LEFT
    LTEXT           "Dummy framerate", IDC_STATIC, 11, 197, 60, 8, SS_LEFT
    EDITTEXT        IDC_EDIT_DUMMY_FRAMERATE_NUM, 78, 195, 38, 12, ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_EDIT_DUMMY_FRAMERATE_DEN, 130, 195, 38, 12, ES_CENTER | ES_AUTOHSCROLL
    LTEXT           "/", IDC_STATIC, 121, 197, 8, 8, SS_LEFT
    EDITTEXT        IDC_EDIT_AUDIO_DELAY, 52, 56, 46, 12, ES_RIGHT | ES_AUTOHSCROLL
    LTEXT           "Audio delay", IDC_STATIC, 11, 58, 39, 8, SS_LEFT
    LTEXT           "samples", IDC_STATIC, 101, 58, 28, 8, SS_LEFT
    COMBOBOX        IDC_COMBOBOX_DUMMY_COLORSPACE, 78, 210, 38, 42, CBS_DROPDOWN | CBS_HASSTRINGS
    LTEXT           "Dummy colorspace", IDC_STATIC, 11, 212, 63, 8, SS_LEFT
    COMBOBOX        IDC_COMBOBOX_SCALER, 160, 38, 84, 108, CBS_DROPDOWN | CBS_HASSTRINGS
    LTEXT           "Video scaler", IDC_STATIC, 116, 40, 41, 8, SS_LEFT
    AUTOCHECKBOX    "Libav video index", IDC_CHECK_FORCE_VIDEO, 11, 166, 71, 8
    EDITTEXT        IDC_EDIT_FORCE_VIDEO_INDEX, 80, 164, 26, 12, ES_RIGHT | ES_AUTOHSCROLL
    AUTOCHECKBOX    "Libav audio index", IDC_CHECK_FORCE_AUDIO, 136, 166, 72, 8
    EDITTEXT        IDC_EDIT_FORCE_AUDIO_INDEX, 206, 164, 26, 12, ES_RIGHT | ES_AUTOHSCROLL
    AUTOCHECKBOX    "Create Index file", IDC_CHECK_CREATE_INDEX_FILE, 136, 152, 70, 8
    AUTOCHECKBOX    "A/V sync correction", IDC_CHECK_AV_SYNC, 11, 152, 79, 8
    EDITTEXT        IDC_EDIT_CHANNEL_LAYOUT, 64, 73, 180, 12, ES_AUTOHSCROLL
    LTEXT           "Channel layout", IDC_STATIC, 11, 75, 49, 8, SS_LEFT
    LTEXT           "Mix level", IDC_STATIC, 11, 92, 29, 8, SS_LEFT
    LTEXT           "Center", IDC_STATIC, 17, 105, 23, 8, SS_LEFT
    LTEXT           "Surround", IDC_STATIC, 17, 120, 31, 8, SS_LEFT
    LTEXT           "LFE", IDC_STATIC, 17, 135, 12, 8, SS_LEFT
    CONTROL         "", IDC_SLIDER_MIX_LEVEL_CENTER, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 52, 103, 160, 15
    CONTROL         "", IDC_SLIDER_MIX_LEVEL_SURROUND, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 52, 118, 160, 15
    CONTROL         "", IDC_SLIDER_MIX_LEVEL_LFE, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 52, 133, 160, 15
    LTEXT           "0.71", IDC_TEXT_MIX_LEVEL_CENTER, 214, 105, 15, 8, SS_LEFT
    LTEXT           "0.71", IDC_TEXT_MIX_LEVEL_SURROUND, 214, 120, 15, 8, SS_LEFT
    LTEXT           "0.00", IDC_TEXT_MIX_LEVEL_LFE, 214, 135, 15, 8, SS_LEFT
    LTEXT           "Sampling rate", IDC_STATIC, 140, 58, 47, 8, SS_LEFT
    EDITTEXT        IDC_EDIT_SAMPLE_RATE, 189, 56, 44, 12, ES_RIGHT | ES_AUTOHSCROLL
    LTEXT           "Hz", IDC_STATIC, 236, 58, 9, 8, SS_LEFT
}

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
IDD_PROGRESS_ABORTABLE DIALOG DISCARDABLE 0, 0, 186, 84
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP
CAPTION "lsmashinput"
FONT 9, "Tahoma"
{
    PUSHBUTTON      "Cancel", IDCANCEL, 61, 57, 62, 20
    CONTROL         "", IDC_PROGRESS, PROGRESS_CLASS, PBS_SMOOTH, 17, 34, 152, 17
    LTEXT           "progress", IDC_PERCENT_TEXT, 19, 13, 150, 14, SS_LEFT
}
